<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Registration Page</title>
    </head>
    <body>
        <h1>Registration Page</h1>
        <!--/*@thymesVar id="userName" type="java.lang.String"*/-->
        <div th:if="${userName}">User <b th:text="${userName}"></b> already exists!<br> </div>
        <form th:action="@{/registration}" method="post">
            <div><label> User Name: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Create user"/></div>
        </form>
    </body>
</html>