.strength {
  display: flex;
  flex-direction: row;
}

.strengthBar {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}

.strength-item:last-of-type {
  margin: 0 !important;
}

.strength-item {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  flex-grow: 1;
}

.strength-summary {
  font-weight: bold;
  flex-grow: 0.1;
}

.valid-password-icon {
  padding-right: 25px;
  background: url("https://my-icon.png") no-repeat right;
  background-size: 20px;
}