.password-strength {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.password-strength-item:last-of-type {
  margin: 0 !important;
}

.password-strength-item {
  margin-right: 1px;
  width: 20%;
}

.password-status {
 font-size: smaller;
  text-align: end;
}

.password-errors {
  font-weight: bold;
  flex-grow: 0.1;
  margin-bottom: 0;
  text-align: center;
  color: red;
}

.is-invalid {
  border-color: red;
}